
@{
    ViewData["Title"] = "Catagories";
}

<h1>Catagories</h1>

@section Styles {
    <style>

    </style>

}
@section Scripts {
    <script>

        (async() => {
            const res = await fetch('https://localhost:7176/api/Categories')
            const data = await res.json()
            console.log(data);
        })();

    </script>
}